#contentbg{
    /* background-color:#8779ff ; */
}
#Titlefont{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(39, 47, 51)
}
#Title{
    font-size: x-large;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Article{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
}
.profileimg{
    width: 4rem;
}
#Category{
    font-size:small;
    
}